.nav {
    background-color: blue;
    grid-area: nav;

    &__friends {
      margin-top: 100px;
      text-align: center;
      color: white;
    }

    &__h3 {
      color: white;
    }
  
    &__list {
      list-style-type: none;
      padding: 0;
    }
  
    &__link {
      display: block;
      color: white;
      text-decoration: none;
      font-size: 20px;
      padding: 5px 10px;
      transition-duration: .5s;
      &:hover {
        color: rgb(163, 160, 145);
      }
      &.active {
        color: rgb(119, 117, 110);
      }
    }
  
  }